@import '../../_var';
.Comic {
    display: grid;
    grid-template-areas: "title title" "date ref" "img img" "text text" "actions actions";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 40px auto auto 40px;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 20px 0px;
    border-radius: 15px;
    border: 1px solid fade-out($contrast, 0);
    background-color: fade-out($primary-dark, 0.3);
    color: $light;
    -webkit-box-shadow: -1px 3px 50px -18px fade-out($contrast-dark, 0);
    -moz-box-shadow: -1px 3px 50px -18px fade-out($contrast-dark, 0);
    box-shadow: -1px 3px 50px -18px fade-out($contrast-dark, 0);
    &__title {
        grid-area: title;
        text-align: center;
        margin: 0;
        color: $contrast;
        cursor: zoom-in;
    }
    &__date {
        grid-area: date;
        text-align: center;
        cursor: zoom-in;
    }
    &__ref {
        grid-area: ref;
        text-align: center;
        cursor: zoom-in;
    }
    &__img {
        grid-area: img;
        justify-self: center;
        max-height: 400px;
        text-align: center;
        overflow: hidden;
        cursor: zoom-in;
        &>img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__text {
        justify-self: center;
        grid-area: text;
        width: 90%;
        padding: 2px 0;
        cursor: zoom-in;
    }
    &__actions {
        grid-area: actions;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
        align-items: center;
        margin: 0 5%;
        border-top: 1px solid fade-out($contrast, 0.8);
        &>div {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        &-like {
            border-right: 1px solid fade-out($contrast, 0.8);
        }
    }
}