//  ·██████╗·██████╗·██╗······██████╗·██████╗·
//  ██╔════╝██╔═══██╗██║·····██╔═══██╗██╔══██╗
//  ██║·····██║···██║██║·····██║···██║██████╔╝
//  ██║·····██║···██║██║·····██║···██║██╔══██╗
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║··██║
//  ·╚═════╝·╚═════╝·╚══════╝·╚═════╝·╚═╝··╚═╝
$primary: #0058AD;
$primary-dark: #01132D;
$primary-gradiente: linear-gradient(to bottom, $primary 0%, $primary-dark 100%);
$contrast: #FAA519;
$contrast-dark: #AE7311;
$contrast-gradiente: linear-gradient(to bottom, $contrast 0%, $contrast-dark 100%);
$accept: #04BF30;
$warning: #BF046B;
$light: #e6e8eb;
$white: #FFFFFF;
$desactive: #B3BFC1;